div {
    border: 3px solid greenyellow;
    padding: 10px;

}

#wrapper_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: black;

}
span{
    color: white;
    margin-right: 40px;
    font-size: larger;
}
#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 50px;
    font-size: larger;
    height: 30px;
    color: white;
}
body{
    background-color: black;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 300px;
    height: 80px;
    
}
#decrease{
    margin-right: 20px;
    height: 50px;
    width: 100px;
}
#reset{
    margin-right: 20px;
    height: 50px;
    width: 100px;
}#increase{
    height: 50px;
    width: 100px;
}
p{
    border: 3px solid greenyellow;
    position: absolute;
    width: 80px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 20px;
    left: 50%;
    
   
}
#click_here:hover{
    display: none; 
    
}
